// - - - - - - - - - - - - - - - - - -

// Gallery

// - - - - - - - - - - - - - - - - - -

.gallery {
	visibility: hidden;
	position: relative;
	margin: 20px auto;

	@include mq(tabletp) {
		margin: 30px auto;
	}

	@include mq(tabletl) {

	}

	@include mq(laptop) {
		margin: 40px auto;
	}

	&:first-child {
		margin-top: 0;
	}
}

.gallery--on {
	visibility: visible;
}

.gallery__item {
	position: relative;

	img {
		width: 100%;
	}
}



// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Carousel

.gallery--carousel {

	.gallery__wrap {

	}
	
	.gallery__item {

	}

	.gallery__item__link {
		display: block;
		pointer-events: none;
	}

	.gallery__item__image {

	}

	// Navigation Arrows Begin
	/*
	.owl-nav {
		display: none;
	}
	*/
	/* Show navigation arrows */
.owl-nav {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
  }
  
  /* Left arrow */
  .owl-nav .owl-prev {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	height: 50px;
	background: rgba(0, 0, 0, 0.5);
	border: none;
	border-radius: 50%;
	color: #fff;
	font-size: 24px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
  }
  
  /* Right arrow */
  .owl-nav .owl-next {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	height: 50px;
	background: rgba(0, 0, 0, 0.5);
	border: none;
	border-radius: 50%;
	color: #fff;
	font-size: 24px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
  }
  

	// Navigation Edits end

	.owl-dots {
		margin-top: 20px;
		text-align: center;

		.owl-dot {
			display: inline-block;
			margin: 0 3px;
			width: 12px;
			height: 12px;
			border: 0;
			border-radius: 100%;
			background: $text-light-color;
			@include transition(all 0.2s ease-in-out);
			cursor: pointer;
			outline: none;

			&.active {
				background: $accent-color;
			}
		}
	}
}



// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Grid

.gallery--grid {

	.gallery__wrap {
		margin-left: -$grid-spacing/2;
		margin-right: -$grid-spacing/2;
	}
	
	.gallery__item {
		float: left;
		width: 50%;
		padding: $grid-spacing/2;
	}

	.gallery__item__link {
		display: block;
		cursor: zoom-in;
	}

	&[data-columns="3"] {

		.gallery__item {
			width: 33.33%;
		}
	}

	&[data-columns="4"] {

		.gallery__item {
			width: 33.33%;
		}

		@include mq(tabletp) {

			.gallery__item {
				width: 25%;
			}
		}
	}

	&[data-columns="5"] {

		.gallery__item {
			width: 33.33%;
		}

		@include mq(tabletp) {

			.gallery__item {
				width: 25%;
			}
		}

		@include mq(tabletl) {

			.gallery__item {
				width: 20%;
			}
		}
	}

	&[data-columns="6"] {

		.gallery__item {
			width: 33.33%;
		}

		@include mq(tabletp) {

			.gallery__item {
				width: 25%;
			}
		}

		@include mq(tabletl) {

			.gallery__item {
				width: 20%;
			}
		}

		@include mq(laptop) {

			.gallery__item {
				width: 16.66%;
			}
		}
	}
}



